:root{

    .ion-color-purple {
        --ion-color-base: #3D17DE;
        --ion-color-rgb: 61,23,222;
        --ion-color-contrast: #ffffff;
        --ion-color-contrast-rgb: 255,255,255;
        --ion-color-shade: #3614c3;
        --ion-color-tint: #502ee1;
      }

  
    

}